{
  "project_info": {
    "project_number": "1234567890",
    "firebase_url": "https://your-project.firebaseio.com",
    "project_id": "your-project-id",
    "storage_bucket": "your-project.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1234567890:android:abcdef123456",
        "android_client_info": {
          "package_name": "com.example.payn"
        }
      },
      "api_key": [ { "current_key": "AIzaSy..." } ],
      "services": { "appinvite_service": { "other_platform_oauth_client": [] } }
    }
  ],
  "configuration_version": "1"
}
